{{#if error}}
  <h2>Ай ай! Ошибка!</h2>
{{/if}}
<form method="POST" action="/auth">
  <input type="text" name="username" placeholder="username" /><br />
  <input type="password" name="password" placeholder="password" /><br />
  <input type="submit" />
</form>