@import '~/assets/scss/resources.scss';

.task-creator__custom-date-btn {
    @include todo-button;
    @include todo-task-button;
    flex: 1 0 100%;
    margin-top: 0;
    padding: 0 rem(20);
    
    &_active {
        background: $activeColor;
    }
}

.task-creator__task-date-btn {
    flex: 0 0 35%;
    min-width: rem(200);
}