<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>lesson04</title>
</head>

<body>
    {{#if err}}
    <p>{{err}}</p>
    {{/if}}
    <div class="news">
        <ul>
            {{#each newsTitles}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
    <select name="newsOnPage" onchange="setNewsOnPage(event)">
        <option value="4" selected="selected">4</option>
        <option value="6">6</option>
        <option value="8">8</option>
    </select>
</body>
<script>
    async function setNewsOnPage(event) {
        const that = event.target;
        const newsOnPage = that.options[that.selectedIndex].text;
        const res = await fetch('http://localhost:9001/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify({ newsOnPage }),
        })
    }
</script>

</html>