<h1>Регистрация</h1>

<form action="/register" method="POST">
    <input type="text" placeholder="username" name="name" /><br/>
    <input type="password" placeholder="password" name="password" /><br/>
    <input type="submit" />
</form>

<a href="/">
    Вход
</a>