@import '~/assets/scss/resources.scss';

.todo-task {
    align-items: flex-end;
    border: 1px solid $formBorderColor;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;
    margin: rem(5) 0;
    padding: 0 rem(5);

    &__status-ico {
        height: rem(20);
        margin-top: auto;
        width: rem(20);
    }

    &__time {
        flex: 0 0 30%;
        font-size: rem(20);
        height: rem(20);
        margin-top: auto;
        margin-bottom: 0;
        padding-left: rem(5);
    }

    &__text {
        @include todo-task-text;
        margin: rem(15) 0;
    }
}
